<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Development Plans</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="~{./fragments.html :: header}"></div>
    <main class="main-content">
        <div th:if="${developmentPlans.empty}">
            <p>No development plans available at the moment.</p>
        </div>
        <div th:unless="${developmentPlans.empty}">
            <div class="container">
                <h1 class="my-4">Development Plans</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plan : ${developmentPlans}">
                        <td th:text="${plan.developmentPlanName}">Plan Name</td>
                        <td th:text="${plan.developmentPlanDescription}">Description</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a th:href="@{/development_plans/new}" class="btn-add-new">Add Development Plan</a>
        </div>
    </main>
    <div th:replace="~{./fragments.html :: footer}"></div>
</div>
</body>
</html>