<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Development Plan</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="~{./fragments.html :: header}"></div>
    <main class="main-content">
        <div class="container">
            <h1 class="my-4">Add Development Plan</h1>
            <div class="error-summary" th:if="${error != null}">
                <ul>
                    <li th:each="err : ${error}" th:text="${err.defaultMessage}"></li>
                </ul>
            </div>
            <form th:action="@{/development_plans/add}" th:object="${developmentPlan}" method="post" class="form">
                <div class="form-group">
                    <label for="developmentPlanName">Plan Name:</label>
                    <input type="text" id="developmentPlanName" th:field="*{developmentPlanName}" class="form-control"/>
                    <div class="error" th:if="${#fields.hasErrors('developmentPlanName')}">
                        <span th:each="err : ${#fields.errors('developmentPlanName')}" th:text="${err}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="developmentPlanDescription">Plan Description:</label>
                    <input type="text" id="developmentPlanDescription" th:field="*{developmentPlanDescription}"
                           class="form-control"/>
                    <div class="error" th:if="${#fields.hasErrors('developmentPlanDescription')}">
                        <span th:each="err : ${#fields.errors('developmentPlanDescription')}" th:text="${err}"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <div>
                <a th:href="@{/development_plans}" class="btn-back">Back to Development Plans</a>
            </div>
        </div>
    </main>
    <div th:replace="~{./fragments.html :: footer}"></div>
</div>
</body>
</html>