<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Login Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div th:replace="~{./fragments.html :: header}"></div>
</header>
<main>
    <h2>Login Error</h2>
    <p style="color: red;">Invalid username or password. Please try again.</p>
    <div>
        <a th:href="@{/login}">Back to Login</a>
    </div>
</main>
<footer>
    <div th:replace="~{./fragments.html :: footer}"></div>
</footer>
</body>
</html>
