<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/static/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Error occurred</h1>
<p>Status: <span th:text="${errorAttributes['status']}"></span></p>
<p>Error: <span th:text="${errorAttributes['error']}"></span></p>
<p>Message: <span th:text="${errorAttributes['message']}"></span></p>
<p>Path: <span th:text="${errorAttributes['path']}"></span></p>
<a href="/events">Go to Home</a>
</body>
</html>
