<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" class="header">
    <h1>Welcome to Medieval Park</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/development_plans}">Development Plans</a></li>
            <li><a th:href="@{/events}">Events</a></li>
        </ul>
    </nav>
</div>

<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" class="footer">
    <p>&copy; 2024 Medieval Park</p>
</div>