<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"  class="header-container">
    <nav>
        <ul class="nav-menu">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/development_plans}">Development Plans</a></li>
            <li><a th:href="@{/events}">Events</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
            <li><a th:href="@{/register}">Register</a></li>
        </ul>
    </nav>
</div>

<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" class="footer-container">
    <p>&copy; 2024 Medieval Park</p>
</div>