<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Medieval Park</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="~{./fragments.html :: header}"></div>
</header>
<main>
    <div>
        <h2>Welcome to Medieval Park!</h2>
        <p>Discover the wonders of the medieval era through our interactive events</p>
    </div>
</main>
<footer>
    <div th:replace="~{./fragments.html :: footer}"></div>
</footer>
</body>
</html>
